MONGO_URI="your MongoDB URI here"
MONGO_DB="database name here"
JWT_SECRET="your JWT secret here"
JWT_ALGORITHM="your JWT algorithm here"
ACCESS_TOKEN_EXPIRE_MINUTES="your access token expiration time in minutes here"
REFRESH_TOKEN_EXPIRE_DAYS="your refresh token expiration time in days here"
ALLOWED_ORIGINS="your allowed origins here"
ENVIRONMENT="your environment here (development/production)"